


  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title text-center">Login</h2>
        </div>
        <div class="col-md-12">
          <form method="POST" action="/login" class="form-contact contact_form" >
            <div class="row">
              <div class="col-12">
                
              </div>
              
              <div class="offset-3 col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
                </div>
              </div>
              <div class="offset-3 col-sm-6">
                <div class="form-group">
                  <input  class="form-control" placeholder="Password" type="password" name="password">
                </div>
              </div>
            </div>
            <div class="load_btn offset-3 col-sm-6 text-center">
              <button type="submit"  class="btn_1">Login </button>
            </div>
          </form>
        </div>
     
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
